
<div class="header">

    <div class="logo">
        <h1>SeatYourself</h1>
    </div>

    <div class="nav">

        <ul>
            <li>View all restaurants</li>
            <li>Make a reservation</li>
            <li>Change a reservation</li>
        </ul>

    </div>

    <div class="login">
        <ul>
            <li>Sign up</li>
            <li>Log in</li>
        </ul>
    </div>

</div>

<div class ="header" id="alt">

</div>
