<div class="reservation_container" id="update">
        <canvas id="reservationCanvas"></canvas>
        <h3>Update the Reservation:</h3>
    
    <%= render 'shared/reservation_form' %>        

</div>